<!--<div id="sidebar-wrapper">
  <ul class="nav nav-sidebar sidebar">
    <li class="active"><a href="#">Utilisateurs<span class="sr-only">(current)</span></a></li>
    <li *ngFor="let u of users" [ngClass]="{online: u.isOnline}" (click)="chatWith(u)">
      <a>{{u.login}} <i *ngIf="u.isOnline" class="glyphicon glyphicon-comment"></i></a>
    </li>
  </ul>
</div>-->

<md-sidenav #sidenav mode="sidenav" class="app-sidenav" [opened]="isVisible">
  <md-list>
    <h3 md-subheader>Contacts</h3>
    <md-list-item *ngFor="let u of users" [ngClass]="{online: u.isOnline}" (click)="chatWith(u)">
      <md-icon class="user-icon">account_circle</md-icon>
      <span>{{u.username}}</span><span *ngIf="u.unread > 0" class="badge">{{u.unread}}</span>
      <md-icon class="md-secondary">2</md-icon>
    </md-list-item>
  </md-list>
</md-sidenav>