<div class="box" [class.opened]="isVisible">
  <div class="messagesContainer" #scrollMe *ngIf="messages.length > 0">
    <app-message-box *ngFor="let message of messages" [message]="message"></app-message-box>
  </div>
  <div class="panel-footer" *ngIf="receiver">
    <form (submit)="onSubmit()" [formGroup]="messageForm">
        <md-input-container class="full-width">
          <input mdInput formControlName="content" placeholder="Ecrire un message à {{receiver.login}}..." 
          autofocus
          autocomplete="off">
          <md-icon mdSuffix>send</md-icon>
        </md-input-container>
    </form>
  </div>
</div>