<div class="box">
  <div class="messagesContainer" *ngIf="messages.length > 0 && receiver && (receiver.login == messages[0].sender || receiver.login == messages[0].chatter)">
    <app-message-box *ngFor="let message of messages" [message]="message"></app-message-box>
  </div>
  <div class="panel-footer" *ngIf="receiver">
    <form (submit)="onSubmit()" [formGroup]="messageForm">
      <div class="input-group">
        <input type="text" formControlName="content" class="form-control input-sm chat_input" placeholder="Ecrire un message à {{receiver.login}}..."
          required autofocus />
        <span class="input-group-btn">
              <button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-send"></i></button>
            </span>
      </div>
    </form>
  </div>
</div>